@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
html,
body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Open sans', sans-serif;
    color: black;
}
.bg_img{
    width: 100%;
    height: 100%;
    background: url(img1.jpg);
    background-size: 100% 100%;
    filter: blur(5px);
    z-index: -1;
}
.contianer{
    position: absolute;
    width: 30%;
    height:auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
    top: 50%;
    left: 50%;
    border: 3px solid rgb(0, 0, 0);
    background: transparent;
    transform: translate(-50%, -50%);
    z-index: 99;
    transition: .5s;
}
.contianer .stopWatch{
    position: relative;
    width:auto;
    height: auto;
    padding: 20px;
    background: linear-gradient(90deg,  rgb(3, 129, 232), blue, blue,  rgb(3, 129, 232));
    box-shadow: inset 0px 0px 10px 2px black;
    border: 3px solid blue;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
 h1{
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em auto;
    padding: 0;
    text-align: center;
    transition: .5s;
    z-index: 99;
}
.contianer .stopWatch .timer{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contianer .stopWatch .timer span, p{
    font-size: 3em;
    margin: 5px;
    font-weight: bold;
    overflow: hidden;
    color: #000000;
    margin-bottom: 20px;
    transition: .5s;
    text-align: center;
}
.contianer .stopWatch .timer .milli{
   width: 40%;
}
.contianer .stopWatch .controls button{
 background: rgb(5, 239, 5);
 padding: 10px;
 border: 1px solid rgb(5, 239, 5);
 color: #000000;
 font-weight: bold;
 font-family: Arial;
 transition: .5s;
}
.lap_message{
    position: absolute;
    width: 31%;
    max-height: 280px;
    height: auto;
    overflow: auto;
    top: 81%;
    display: none;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    transition: .5s;
}
.lap_message p{
  font-size: 18px;
  font-weight: none;
  background: transparent;
  box-shadow: 0px 0px 5px 1px black;
  border: 10px;
  margin:8px ;
}
.block{
    display: none;
}
@media (max-width:1100px){
    .contianer{
        width: 60%;
    }
    .contianer .stopWatch .timer span, p{
        font-size: 2.7em;
    }
    .lap_message{
       width: 61%;
    }
}
@media (max-width:900px){
    .contianer{
        width: 65%;
    }
    .contianer .stopWatch .timer span, p{
        font-size: 2.5em;
    }
    .lap_message{
        width: 66%;
     }
     h1{
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .lap_message{
        max-height: 230px;
        top: 81%;
    }
}
@media (max-width:700px){
    .contianer{
        width: 85%;
    }
    .contianer .stopWatch .timer span, p{
        font-size: 2.3em;
    }
    .lap_message{
        width: 86%;
     }
     .lap_message{
        max-height: 230px;
        top: 81%;
    }
}
@media (max-width:500px){
    .contianer{
        width: 90%;
    }
    .lap_message{
        width: 91%;
     }
    .contianer .stopWatch .timer span, p{
        font-size: 1.8em;
    }
    h1{
        font-size: 1.7em;
    }
}
@media (max-width:350px){
    .contianer{
        width: 90%;
    }
    .lap_message{
        width: 91%;
     }
     h1{
        display: none;
    }
    .lap_message{
        max-height: 198px;
        top: 84%;
    }
    .contianer .stopWatch .controls{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contianer .stopWatch .timer span, p{
        font-size: 2em;
    }
    .contianer .stopWatch .timer .hide{
        display: none;
    }
    .contianer .stopWatch .controls button{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-60%, 0%);
        width: 100%;
       padding: 5px;
       margin: 10px;
       }

}
@media (max-width:300px){
    .lap_message{
        width: 99%;
     }
     h1{
        display: none;
    }
    .lap_message{
        max-height: 100px;
        top: 84%;
    }   

}

